<div class="block notice">
  <h3><%= t('.banners_options') %></h3>
  <ul class="navigation">
    <li><%= link_to t('groovy_cart.modules.banner_types'), admin_banner_types_path %></li>
    <li><%= link_to t('groovy_cart.modules.banner_placements'), admin_banner_placements_path %></li>
  </ul>
</div>