<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_brands_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_brand_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t(".creating_brand", :default => "Creating new brand")%></h2>
    <div class="inner">
      <%= render :partial => "form" %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>