You want to:
<ul>
  <li><%= link_to "sing up and create order", new_customer_registration_path %></li>
  <li><%= link_to "sing in and create order", new_customer_session_path %></li>
  <li><%= link_to "just create order", new_order_path %></li>
</ul>