<div class="block notice">
  <h3><%= t('.additional_settings') %></h3>
  <ul class="navigation">
    <li><%= link_to t('groovy_cart.modules.shipping_methods'), admin_shipping_methods_path %></li>
  </ul>
</div>