<div class="setting textarea" id="setting=<%= setting.id %>">
	<p>
		<strong><%= label_tag "settings[#{setting.id}]", h(setting.label) %></strong><br />
		<small><%=h setting.description %></small>
	</p>
	<p>
      <%= text_area_tag("settings[#{setting.id}]", setting.value.to_s, :size => "52x15" ) %>
	</p>
</div>