<%
begin;seq = seq;rescue;end;seq = seq==nil ? 'new_product_variation' : seq
%>
<li class="product_variation">
  <% if f.object.product and f.object.product.option_groups and f.object.product.option_groups.count > 0 %>
    <%= f.label :price, :class=>"price" %>
    <%= f.text_field :price, :class=>"text_field" %>
    <% for og in f.object.product.option_groups %>
      <% sel = f.object.options.where(:option_group_id=>og.id).first %>
      <% sel = sel.id unless sel.blank? %>
      <%= select "product[product_variations_attributes][#{seq}][option_ids]", '', og.options.all.map{|o| [o.name, o.id]}, {:selected=>sel} %>
    <% end %>
  <% else %>
    Brak grup opcji, nie można utworzyc wariantu produktu
  <% end %>
</li>