<div class="block notice">
  <h3><%= t('.create_new_from_template') %></h3>
  <ul class="navigation">
    <% for pt in ProductType.all %>
      <li><%= link_to pt.name, new_admin_product_path(:product_type=>pt.id) %></li>
    <% end %>
  </ul>
</div>