Your account
<ul>
  <li><%= link_to "orders history", order_history_path %></li>
  <li><%= link_to "edit my details", edit_customer_registration_path %></li>
  <li><%= link_to "change password", edit_customer_registration_path %></li>
</ul>