/* Override here any style defined by web-app-theme */

.small_field{
  width: 30% !important;
}
.small_field text_field{
}
.inline_field{
  padding-right: 10px;
  float: left;
}

.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}
.link_button{
  cursor: pointer;
}
.description{
  display: none;
}
.current_state{
  font-weight: bold;
  background-image: none !important;
}
.visible_description{
    display: block;
}

.price_field{
    width: 120px !important;
    text-align: right;
}
.add_nested_item{
    font-weight: bold;
    background-image: url("../../images/icons/add.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 20px;
    height: 20px;
}
.nested_group{
    margin-left: 25px;
    padding-left: 5px;
    border: 1px solid #eee;
}
.nested_group ul{
    list-style: none;
}
table.nested_table{
    width: 100%;
    padding: 5px;
    margin: 5px 0 10px 0;
    background-color: #f6f6f6;
}
table.form_table{
    width: 100%;
    padding: 5px;
}
table.nested_table td{
    padding: 0 4px 0 4px;
}
.width_50{
    width: 50%;
}
.width_70px{
    width: 70px;
}
.show_for_options{
    display: none;
}
.destroy_row{
    text-align: right;
    font-style: italic;
    color: grey;
}